body {
    font-family: monospace;
    font-size: 14px;
    color: #000000;
    background-color: #1e1e1e;
}

.codebox {
    white-space: pre;
    tab-size: 4;
}

    .codebox div {
        display: inline;
    }

/* token color */

.cpp_default {
    color: #dcdcdc;
}

.cpp_number {
    color: #b8d7a3;
}

.cpp_string {
    color: #d69d85;
}

.cpp_keyword {
    color: #569cd6;
}

.cpp_comment {
    color: #57a64a;
}

/* context sensitive color */

.cpp_type {
    color: #4ec9b0;
}

.cpp_enum {
    color: #b8d7a3;
}

.cpp_field {
    color: #9cdcfe;
}

.cpp_argument {
    color: #7f7f7f;
}

.cpp_function {
    color: #dcdcaa;
}

/* functional color */

.def.focused {
    font-size: 28px;
    background-color: #FFFF00;
    color: #000000;
}

    .def.focused .token {
        color: #000000;
    }

.def {
    font-weight: 900;
}

.ref {
    text-decoration: underline dotted;
    text-decoration-color: #7f7f7f;
    cursor: pointer;
}

    .ref:hover {
        text-decoration: underline;
        text-decoration-color: unset;
    }

.disabled {
    color: #7f7f7f;
}

div.expandable {
    box-sizing: border-box;
    display: inline-block;
    border: 1px dashed #3f3f3f;
    margin: 3px 0 3px 0;
}

    div.expandable .disabled {
        background-color: #2f2f2f;
    }

    div.expandable .expanded {
    }

/* links */

a.button {
    display: inline-block;
    margin: 2px 2px 2px 2px;
    padding: 5px 0 5px 0;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    color: #569cd6;
    background-color: #2f2f2f;
    text-decoration: none;
}

a.fileIndex {
    color: #569cd6;
    text-decoration: none;
}

    a.fileIndex:hover {
        text-decoration: underline;
    }


a.symbolIndex {
    font-size: 10px;
    margin-left: 5px;
    padding: 0 2px 0 2px;
    color: #afafaf;
    background-color: #2f2f2f;
    text-decoration: none;
}

    a.symbolIndex:hover {
        text-decoration: underline;
    }

/* tooltip */

.tooltip div {
    white-space: normal;
    display: block;
}

.tooltip {
    white-space: normal;
    display: block;
    font-weight: normal;
    position: fixed;
    height: 0.8em;
    color: #000000;
    cursor: default;
}

.tooltipHeader {
    position: relative;
    margin-left: 1em;
    z-index: 1;
}

.tooltipHeaderBorder {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid black;
}

.tooltipHeaderFill {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 1px;
    top: 1px;
    border-left: calc(0.5em - 1px) solid transparent;
    border-right: calc(0.5em - 1px) solid transparent;
    border-bottom: calc(0.5em - 1px) solid cornsilk;
}

.tooltipContainer {
    margin-top: calc(0.5em - 1px);
    border: 1px solid black;
    padding: 0.5em;
    background-color: cornsilk;
    z-index: 0;
}

.tooltipContent {
    display: none;
}
