body {
    font-family: monospace;
    font-size: 14px;
    color: #000000;
    background-color: #1e1e1e;
}

.codebox {
    white-space: pre;
    tab-size: 4;
}

.codebox div{
    display: inline;
}

.focused {
    font-size: 28px;
    color: #000000;
    background-color: #FFFF00;
}

.def {
    font-weight: bold;
}

.ref {
    text-decoration: underline dotted;
    text-decoration-color: #7f7f7f;
    cursor: pointer;
}

    .ref:hover {
        text-decoration: underline;
        text-decoration-color: unset;
    }

/* token color */

.cpp_default {
    color: #dcdcdc;
}

.cpp_number {
    color: #b8d7a3;
}

.cpp_string {
    color: #d69d85;
}

.cpp_keyword {
    color: #569cd6;
}

.cpp_comment {
    color: #57a64a;
}

/* context sensitive color */

.cpp_type {
    color: #4ec9b0;
}

.cpp_enum {
    color: #b8d7a3;
}

.cpp_field {
    color: #9cdcfe;
}

.cpp_argument {
    color: #7f7f7f;
}

.cpp_function {
    color: #dcdcaa;
}